<div class="min-vh-100 d-flex align-items-center justify-content-center py-5">
  <div class="container-fluid">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-4 col-md-7 col-sm-9 col-11">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title text-center"><b>IFFar - Lanches</b></h1>
            <h2 class="card-subtitle my-2 text-body text-center">Ora ora, parece que temos um problema aqui!</h2>
            <p class="text-center lead">{{erro}}</p>
            <a class="btn btn-success btn-lg btn-block" href="?pagina=home" role="button">Voltar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>