<nav class="navbar navbar-dark bg-dark sticky-top">
  <div class="container d-flex justify-content-center"> <a class="navbar-brand" href="?pagina=login">
      <i class="fa d-inline fa-lg fa-circle-o"></i>
      <b> IFFar</b>
    </a> </div>
</nav>
<div class="py-5 text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-light">Registros</h1>
      </div>
    </div>
  </div>
</div>
<div class="bg-light py-3 h-100">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12 p-4">
        <h4><b>Lista dos alunos que requisitaram lanche no dia de hoje</b><br></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-striped table-borderless">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Código RFID</th>
                <th scope="col">Matrícula</th>
                <th scope="col">Nome</th>
                <th scope="col">Curso</th>
                <th scope="col">Timestamp</th>
              </tr>
            </thead>
            <tbody>
              {% if dados == false %}
              <tr>
                <th scope="row" colspan="6" style="text-align: center;">Não foi encontrado nenhum registro!</th>
              </tr>
              {% else %}
              {% for registros in dados %}
              <tr>
                <th scope="row">{{registros.id_registro}}</th>
                <td>{{registros.codigo_aluno}}</td>
                <td>{{registros.matricula_aluno}}</td>
                <td>{{registros.nome}}</td>
                <td>{{registros.curso}}</td>
                <td>{{registros.timestamp_registro}}</td>
              </tr>
              {% endfor %}
              {% endif %}

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>