<div class="py-5"
  style="	background-image: url(&quot;20170516_110414.jpg&quot;);	background-position: center;	background-size: 100%;	background-repeat: no-repeat;	box-shadow: inset 0px 0px 300px  black;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center text-white">Lista dos lanches</h1>
      </div>
    </div>
  </div>
</div>
<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-striped table-borderless">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Código</th>
                <th scope="col">Matrícula</th>
                <th scope="col">Nome</th>
                <th scope="col">Curso</th>
                <th scope="col">Horário</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" colspan="6" style="text-align: center;">Não foi encontrado nenhum registro!</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>