<nav class="navbar navbar-dark bg-dark sticky-top">
  <div class="container d-flex justify-content-center"> <a class="navbar-brand d-flex justify-content-center" href="?pagina=admin">
      <img src="app/images/iffar-hori.svg" class="ml-3" width="60%" alt="Instituto Federal Farroupilha">
    </a> </div>
</nav>
{% if operacao == 'atualizado' %}
<div class="alert alert-success alert-dismissible fade show text-center" role="alert">
  Registro atualizado com sucesso!
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% elseif operacao == 'deletado' %}
<div class="alert alert-success alert-dismissible fade show text-center" role="alert">
  Registro deletado com sucesso!
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% elseif operacao == 'erro' %}
<div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
  Erro ao executar operação!
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
<div class="py-5 text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-light">Modificar Turmas</h1>
      </div>
    </div>
  </div>
</div>
<div class="bg-light py-3 h-100">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12 p-4">
        <h4><b>Lista das turmas</b><br></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-hover table-striped table-borderless">
            <thead>
              <tr>
                <!-- <th scope="col">#</th> -->
                <th scope="col">Curso</th>
                <th scope="col">Semestre</th>
                <th scope="col">Modalidade</th>
                <th scope="col">Dias de lanche</th>
                <th scope="col" class="text-center">Horários de reserva</th>
                <th scope="col" class="text-center">Horários de retirada</th>
                <th scope="col" class="text-center">Opções</th>
              </tr>
            </thead>
            <tbody>
              {% if dados == false %}
              <tr>
                <th scope="row" colspan="6" class="text-center">Não há nenhuma turma cadastrada!</th>
              </tr>
              {% else %}
              {% for turma in dados %}
              <tr>
                <!-- <th scope="row">{{turma.id_turma}}</th> -->
                <td>{{turma.curso}}</td>
                <td>{{turma.semestre}}</td>
                <td>{{turma.modalidade}}</td>
                <td>{{turma.dias_lanche}}</td>
                <td class="text-center">{{turma.reserva_de}} às {{turma.reserva_ate}}</td>
                <td class="text-center">{{turma.retirada_de}} às {{turma.retirada_ate}}</td>
                <td>
                  <div class="d-flex justify-content-center">
                    <div class="d-flex justify-content-center col-lg-5 col-md-5"><a class="btn btn-warning"
                        href="?pagina=update&metodo=formTurma&id={{turma.id_turma}}">Editar</a></div>
                    <div class="d-flex justify-content-center col-lg-5 col-md-5"><a class="btn btn-danger"
                        href="?pagina=delete&metodo=turma&id={{turma.id_turma}}"
                        onclick="return confirm('Ao prosseguir o registro será deletado.')">Excluir</a></div>
                  </div>
                </td>
              </tr>
              {% endfor %}
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="py-3 bg-light" >
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="mb-0">© 2019 Henrique Michels Voicolesco. Todos os direitos reservados</p>
      </div>
    </div>
  </div>
</div>