  <nav class="navbar navbar-dark bg-dark sticky-top">
    <div class="container d-flex justify-content-center"> <a class="navbar-brand" href="?pagina=admin">
        <i class="fa d-inline fa-lg fa-circle-o"></i>
        <b> IFFar</b>
      </a> </div>
  </nav>
  <div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-light">Modificar Turmas</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-light py-3 h-100">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12 p-4">
          <h4><b>Lista das turmas</b><br></h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-hover table-striped table-borderless">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Curso</th>
                  <th scope="col">Semestre</th>
                  <th scope="col">Modalidade</th>
                  <th scope="col">Horários</th>
                  <th scope="col" class="text-center">Horários</th>
                </tr>
              </thead>
              <tbody>
                {% if dados == false %}
                  <tr>
                    <th scope="row" colspan="6" class="text-center">Não há nenhuma turma cadastrada!</th>
                  </tr>
                {% else %}
                {% for turma in dados %}
                <tr>
                  <th scope="row">{{turma.id_turma}}</th>
                  <td>{{turma.curso}}</td>
                  <td>{{turma.semestre}}</td>
                  <td>{{turma.modalidade}}</td>
                  <td>{{turma.dias_lanche}}</td>
                  <td>
                    <div class="d-flex justify-content-center">
                      <div class="d-flex justify-content-center col-lg-6 col-md-5"><a class="btn btn-warning" href="?pagina=update&metodo=turma&id={{turma.id_turma}}">Editar</a></div>
                      <div class="d-flex justify-content-center col-lg-6 col-md-5"><a class="btn btn-danger" href="?pagina=delete&metodo=turma&id={{turma.id_turma}}" onclick="return confirm('Ao prosseguir o registro será deletado.')">Excluir</a></div>
                    </div>
                  </td>
                </tr>
                {% endfor %}
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
